artifacts/
*.autosave
bin/
debug/
docs/website/public
.DS_Store
hushd
IDEWorkspaceChecks.plist
komodo-cli
komodod
hush-cli
hushd
*.mak
Makefile
Makefile.*
.qmake.stash
qrc_application.cpp
release/
res/libsodium.a
res/libsodium.a
res/libsodium/libsodium*
silentdragon
silentdragon
silentdragon.pro.user
*.sln
src/precompiled.h.cpp
src/ui_*.h
*.sw?
*.tar.gz
.vscode/
workspace.code-workspace
x64/
*.xcsettings
*.zip

# compiled translation files can be ignored
*.qm
