artifacts/
*.autosave
bin/
debug/
docs/website/public
.DS_Store
hushd
IDEWorkspaceChecks.plist
komodo-cli
komodod
*.mak
Makefile
Makefile.*
.qmake.stash
qrc_application.cpp
release/
res/libsodium.a
res/libsodium.a
res/libsodium/libsodium*
silentdragon
silentdragon
silentdragon.pro.user
*.sln
src/precompiled.h.cpp
src/ui_*.h
*.sw?
*.tar.gz
.vscode/
workspace.code-workspace
x64/
*.xcsettings
zec-qt-wallet-mingw*
zec-qt-wallet_plugin_import.cpp
zec-qt-wallet_resource*
zec-qt-wallet.sln
zec-qt-wallet.vcxproj*
zecwallet_plugin_import.cpp
zecwallet_resource*
zecwallet.vcxproj*
*.zip
